.header-tabs {
    display: flex;
    background-color: transparent;
    width: 100%;
    border-bottom: 1px solid #1E2D3D;; 
    height: 40px
  }
  
  .tab {
    margin-right: 0; /* Remove margin between tabs */
    padding: 5px 20px;
    background-color: transparent;
    cursor: pointer;
    border-left: 1px solid #1E2D3D;;  /* Add left border to all tabs */
    height: 100%;
  }
  
  .tab-label::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid white; /* Color of the arrow */
    margin-right: 8px; /* Space between arrow and text */
    transform: translateY(-2px); /* Adjust the vertical position if needed */
  }
  
  .tab.active {
    border-bottom: 1px solid #FEA55F;  /* Adds a colored bottom border for the active tab */
  }
  
  .tab button {
    background-color: transparent;
    color: #607B96;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    font-size: 20px;
  }
  
  .tab button:hover {
    color: #43D9AD;
  }
  
  /* Ensure the first tab has no left border */
  .tab:first-child {
    border-left: none;
  }
  
  /* Ensure the last tab has a right border */
  .tab:last-child {
    border-right: 1px solid#1E2D3D;; 
    height: 100%;
  }
  