.sidebar {
  width: 205px;
  background-color: transparent;
  padding: 10px;
  border-right: 1px solid #1E2D3D; /* Ensure the border has a style */
  min-height: 100%;               /* Full height of the viewport */
}
  
  .folder ul {
    list-style-type: none;
    padding-left: -0px;
  }
  
  .folder ul li {
    cursor: pointer;
    margin: 5px 0;
  }
  
  .folder ul li:hover {
    text-decoration: underline;
  }
  