/* General IDE styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Code', 'Consolas', 'Courier New', monospace; /* Apply Fira Code */
  background-color: #1e1e1e;
  color: #d4d4d4;
}

* {
  box-sizing: border-box;
}

/* Overall page structure */
.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #010C15;
}

.main-body {
  height: 90vh;
  width: 90%;
  background-color: #011627;
  border: 1px solid #1E2D3D;
  border-radius: 8px;
  padding: 0px 0px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.page-content {
  flex-grow: 1; /* This will make the page content take up the remaining space */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Adjust padding inside the content area */
}

/* Navbar styling if needed */
.navbar {
  margin-bottom: 20px; /* Add some space between navbar and page content */
}
